@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$white: #f0f0f0;
$black: #000000;
$gray: #e5e5e5;

* {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

#root {
  height: 100%;
}

%shadowed {
  box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: $white;
}

::-webkit-scrollbar-thumb {
  background: $black;
  border-radius: 8px;
  border: 4px solid $white;
}

a {
  text-decoration: none;
}

h4,
h5 {
  font-weight: 400;
}

.carousel-control-prev {
  display: none;
}

.squared-img {
  display: block;
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: 100%;
}

.landing-img {
  width: 50%;
  height: 100%;

  @media screen and (max-width: 770px) {
    width: 100%;
    margin-bottom: 12px;
  }
}

h1 {
  font-weight: 300 !important;
  font-size: 60px;
  color: $black;
  margin-top: 96px;
}

h2 {
  margin: 82px 0;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
}

h3.text-title {
  font-size: 24px;
  margin-bottom: 14px;
}

.landing-text {
  font-size: 16px;
}

header {
  margin-top: -10px;
  width: 100%;
  height: 580px;
  background-image: url('./static/header.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .logo-container {
    position: relative;
    top: 65px;
    width: 100vw;
    display: flex;
    justify-content: center;

    img.logo {
      margin-right: 21px;
      margin-bottom: 18px;
    }

    span {
      font-weight: 500;
      font-size: 32px;
      color: #f0f0f0;
    }
  }

  nav {
    width: 100vw;
    margin-top: 82px;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      width: 100%;
      margin: 0 458px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      li a {
        font-size: 20px;
        color: $white;

        &:hover {
          text-decoration: underline;
          color: $white;
        }
      }
    }
  }

  .quote {
    width: 520px;
    margin: 0 auto;
    margin-top: 128px;
    font-size: 28px;
    color: $white;
    text-align: center;
  }

  @media screen and (max-width: 1440px) {
    nav ul {
      margin: 0 300px;
    }
  }

  @media screen and (max-width: 1130px) {
    nav ul {
      margin: 0 200px;
    }
  }

  @media screen and (max-width: 900px) {
    nav ul {
      margin: 0 100px;
    }
  }

  @media screen and (max-width: 900px) {
    nav ul {
      margin: 0 20px;
    }

    .logo-container {
      img.logo {
        transform: scale(0.7);
        margin-right: 10px;
      }
    }
  }

  @media screen and (max-width: 650px) {
    height: 700px;

    nav ul {
      margin: 0 20px;
      flex-direction: column;

      li {
        text-transform: uppercase;
        margin-top: 12px;
      }
    }

    .quote {
      margin-top: 80px;
      font-size: 20px;
      width: 300px;
    }
  }
}

.landing-container .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: 770px) {
    flex-direction: column;
  }
}

.landing-delimiter {
  @extend %shadowed;
  width: 100%;
  padding: 56px 200px;
  margin-top: 82px;

  .col-md-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .top {
      font-size: 40px;
    }

    .bottom {
      margin-top: 6px;
      font-size: 18px;
      text-align: center;
    }
  }

  @media screen and (max-width: 770px) {
    padding-top: 20px;
    padding-bottom: 20px;

    .col-md-4 {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.instruction {
  width: 100%;
  padding: 0 120px;

  .row {
    width: 100%;
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;

    .square {
      @extend %shadowed;
      width: 240px;
      height: 240px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .top {
        font-size: 64px;
      }

      .bottom {
        font-size: 20px;
        margin-top: 24px;
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 0;

    .square {
      width: 220px;
      height: 220px;
    }
  }

  @media screen and (max-width: 770px) {
    .col-md-4 {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

aside {
  height: 160px; // 270
  background-image: url('./static/paper.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    font-size: 28px;
    color: $white;
    margin-top: 48px;
    text-align: center;
  }

  button {
    margin-top: 60px;
  }
}

.nav {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  background: #fdfdfd !important;
  padding: 0 165px;

  .lms {
    margin-left: auto;
  }

  &-link {
    font-size: 20px;
    color: $black;

    &.active {
      text-decoration: underline;
    }
  }

  @media screen and (max-width: 960px) {
    padding: 0;
  }

  @media screen and (max-width: 630px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    .lms {
      margin-left: 0;
    }
  }
}

.important {
  width: 100%;
  background: $gray;

  &-container {
    padding-top: 60px;

    .squared-img {
      @media screen and (max-width: 580px) {
        height: 90%;
      }
    }
  }
}

.publishers {
  width: 100%;
  background: $white;
  @extend %shadowed;

  &-container {
    padding-top: 36px;

    .col-sm-6 {
      display: flex;

      .squared-img {
        max-width: 50%;
      }

      .text {
        max-width: 50%;
        margin-left: 14px;

        h5 {
          font-weight: 500;
          font-size: 24px;
        }

        p {
          overflow-y: scroll;
          margin-top: 16px;
          font-size: 16px;
          max-height: 110px;
        }

        .years,
        .numbers {
          margin-top: 8px;
          font-weight: 600;
          font-size: 20px;
        }

        @media screen and (max-width: 1400px) {
          h5 {
            font-size: 20px;
          }

          .years,
          .numbers {
            font-size: 18px;
          }

          p {
            font-size: 14px;
            max-height: 100px;
          }
        }

        @media screen and (max-width: 1000px) {
          h5 {
            font-size: 20px;
          }

          .years,
          .numbers {
            font-size: 16px;
          }
        }
      }

      @media screen and (max-width: 770px) {
        flex-direction: column;
        height: unset !important;
        margin-top: 20px;

        .squared-img {
          max-width: 100%;
        }

        .text {
          margin-right: 0;
          margin-top: 12px;
          max-width: 100%;
        }
      }
    }
  }
}

.publisher-year-col {
  margin-top: calc(var(--bs-gutter-x) * 0.5);
  position: relative;

  .text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(84, 89, 94, 0.6);

    &.calc-width {
      width: calc(100% - calc(var(--bs-gutter-x)));
    }

    div {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      color: #ffffff;
    }
  }
}

footer {
  background: $black;
  padding: 56px 0;
  text-align: center;

  a {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.tags-container {
  width: 100%;
  margin-top: 12px;
  min-height: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;

  .tags-item {
    min-height: 30px;
    min-width: 70px;
    border: 2px solid $black;
    margin: 0 8px;
    text-align: center;
  }
}

.white-scroll::-webkit-scrollbar {
  height: 12px;
}

.white-scroll::-webkit-scrollbar-track {
  background: #ffffff;
}

.white-scroll::-webkit-scrollbar-thumb {
  border-color: #ffffff;
}

.gray-scroll::-webkit-scrollbar {
  height: 12px;
}

.gray-scroll::-webkit-scrollbar-track {
  background: #e5e5e5;
}

.gray-scroll::-webkit-scrollbar-thumb {
  border-color: #e5e5e5;
}

.newspaper-filter {
  @extend %shadowed;
  background: #ffffff;
  padding: 30px;
}

.page-container {
  @extend %shadowed;
  background: #fdfdfd;
  margin-top: 64px;
  padding: 72px;

  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: contain;

      @media screen and (max-width: 1200px) {
        width: 100%;
        height: 100%;
      }
    }
  }

  .text-container {
    overflow-y: scroll;
  }

  .idx-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .idx {
      width: 70px;
      height: 70px;
      border: 1px solid $black;
      border-radius: 50%;
      text-align: center;
      font-size: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;

      @media screen and (max-width: 990px) {
        border: none;
        border-radius: 0;
        border-bottom: 4px solid $black;
        height: 40px;
        width: 40px;
      }

      @media screen and (max-width: 770px) {
        position: relative;
      }
    }
  }

  @media screen and (max-width: 770px) {
    .col-md-5,
    .col-md-6 {
      margin-top: 16px;
    }
  }
}

.inline-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mr-4 {
  margin-right: 12px;
}

.full {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .form-container {
    @extend %shadowed;
    padding: 72px 135px;
    background: #ffffff;

    .form-type {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      a {
        font-size: 20px;
        color: #6c757d;

        &.type-active {
          color: $black;
        }
      }
    }

    form {
      margin-top: 36px;
    }
  }
}

.star {
  position: absolute;
  right: 8px;
  background: transparent;
  border: none;
}

.information {
  @extend %shadowed;
  background: #ffffff;
  padding: 24px;

  h5 {
    margin-bottom: 2px;
  }

  h6 {
    margin-top: 16px;

    .icon {
      margin-left: 6px;
    }
  }

  .row {
    margin-top: 8px;
    overflow-x: auto;

    .col-sm-4,
    .col-sm-6,
    .col-sm-12 {
      margin-top: 4px;

      .name {
        font-size: 12px;
        color: #6c757d;
      }

      .value {
        font-size: 16px;
        color: $black;
      }
    }
  }

  .actions {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    a {
      margin-top: 8px;
      font-size: 12px;
      color: #212529;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @media screen and (max-width: 770px) {
    margin-bottom: 16px;
  }
}
